@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');


body {
    background: #272838;
}

.title {
    font-family: "Nova Square";
    text-align: center;
    color: #7e7f9a;
}

.title h1 {
    font-size: 60px;
}

.game-container {
    text-align: center;
}

.top-half {
    margin-top: 50px;
}

.game-square {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 5px;
    border-radius: 5px;
}

/*User is aware of current square they are hovering with cursor*/
.game-square:hover {
    border: 1px solid white;
}

/*Square default colours*/
.square-1 {
    background: rgb(93, 217, 193);
}

.square-2 {
    background: rgb(243, 182, 31);
}

.square-3 {
    background: rgb(163, 22, 33);
}

.square-4 {
    background: rgb(93, 105, 217);
}

/* Flash classes to indicate sequence to user*/ /*
.square-1-flash {
    background: rgba(93, 217, 193, 0.3);
}

.square-2-flash {
    background: rgba(243, 182, 31, 0.3);
}

.square-3-flash {
    background: rgba(163, 22, 33, 0.3);
}

.square-4-flash {
    background: rgba(93, 105, 217, 0.3);
}
Classes no longer used, opaque class below can be applied to any div to achieve same goal */
.opaque {
    opacity: 0.3;
}

.score-container {
    font-family: "Nova Square";
    font-size: 18px;
    text-align: center;
    color:#7e7f9a;
    margin-top:35px;
}