@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

body {
    background: #272838;
    font-family: "Nova Square";
    text-align: center;
    color: #7e7f9a;
}

.title h1 {
    font-size: 60px;
    margin: 20px 0 20px 0;
}

.top-half {
    margin-top: 30px;
}

.game-square {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 5px;
    border-radius: 5px;
}

/*User is better aware of current square they are hovering with cursor*/
.game-square:hover {
    border: 1px solid white;
}

/*Square default colours*/
.square-1 {
    background: rgb(93, 217, 193);
}

.square-2 {
    background: rgb(243, 182, 31);
}

.square-3 {
    background: rgb(163, 22, 33);
}

.square-4 {
    background: rgb(93, 105, 217);
}

/*Opaque class to indicate square flashing*/
.opaque {
    opacity: 0.3;
}

button {
    font-family: "Nova Square";
    background-color: #7e7f9a;
    color: #272838;
    border-radius: 4px;
    height: 50px;
    width: 70px;
}

.score-container {
    font-size: 18px;
    margin-top:35px;
}

/*Squares smaller for mobile devices*/
@media only screen and (max-width: 500px) {
    .game-square {
        width: 100px;
        height: 100px;
    }
}